[submodule "vendor/Timestamp"]
	path = vendor/Timestamp
	url = https://github.com/onthegrid007/Timestamp
[submodule "vendor/LifetimeEvent"]
	path = vendor/LifetimeEvent
	url = https://github.com/onthegrid007/LifetimeEvent
[submodule "vendor/Profiler"]
	path = vendor/Profiler
	url = https://github.com/onthegrid007/Profiler
